body {
  background-color: #edeeee;
  overflow-x: hidden !important;
  /* padding: 0px; */
  margin: 0px !important;
}

.cursor-wrapper {
  position: relative;
}

.custom-cursor {
  position: relative;
}

.cursor-after {
  position: fixed; /* Make sure it moves with the cursor */
  width: 10px; /* Size of the inner circle */
  height: 10px;
  background-color: red; /* Color of the pseudo-element */
  border-radius: 50%;
  pointer-events: none; /* So it doesn't block clicks */
  z-index: 9999; /* Make sure it's on top */
  transform: translate(-50%, -50%); /* Centering the pseudo-element */
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white; /* Adjust to your desired background */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.loader.hidden {
  opacity: 0;
  visibility: hidden;
}

.img-load {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 100%; */
  /* height: 100%; */
  /* background: #fff; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; */
  /* transform: translate(-50%, -50%); */
}
